

	<div class="row">
		<div class="yobutton col-xs-2 text-center" id="saved">
			<button id="temp" class="btn btn-lg">?</button> 		
		</div>

		<div class="birthdaybutton col-xs-2 text-center" id="saved">
			<button id="temp" class="btn"><i class="fa fa-birthday-cake fa-2x"></i></button>
		</div>

		<div class="xmasbutton col-xs-2 text-center" id="saved">
			<button id="temp" class="btn"><i class="fa fa-tree fa-2x"></i></button>
		</div>

		<div class="reminderbutton col-xs-2 text-center" id="saved">
			<button id="temp" class="btn"><i class="fa fa-calendar-o fa-2x"></i></button>
		</div>

		<div class="thinkbutton col-xs-2 text-center" id="saved">
			<button id="temp" class="btn"><i class="fa fa-heart-o fa-2x"></i></button>
		</div>

		<div class="dogbutton col-xs-2 text-center" id="saved">
			<button id="temp" class="btn"><i class="fa fa-paw fa-2x"></i></button>
		</div>

		<div class="quote col-xs-2 text-center" id="saved">
			<button id="temp" class="btn">Q</button>
		</div>

	</div> <!-- Row Close -->
	<br>
