

	<div class="row">
		<div class="oneHour col-xs-4 text-center">
			<button class="btn btn-md">1hr</button> 		
		</div>

		<div class="oneDay col-xs-4 text-center">
			<button class="btn btn-md">1d</button>
		</div>

		<div class="oneWeek col-xs-4 text-center">
			<button class="btn btn-md">1wk</button>
		</div>

	</div> <!-- Row Close -->
	<br>
