
<div class="container">

		<section class="top">
			<div class="col-md-12 col-md-offset-3 ">
				<div class="row">
					<br>
					<div class="col-md-6">
						<h1 class="text-center">TextMe, Maybe</h1><br>
						<p>
							<strong>"We love texts."</strong><br> 
							They allow us to communicate remotely and immediately. Whether it's to the other side of the globe, or just across the room, they influence our relationships and the world around us. 
						</p>
						<p>
							<strong>"Something Simple."</strong><br>
							Our goal was to develop a very simple tool to do just a few things. To send a text in the future. To be able to send it to multiple people. And then to be able to forget about it knowing that it will be delivered.
						</p>
						<p>
							<strong>"Easy and Usable."</strong><br>
							TextMe, Maybe? lets you schedule birthday wishes to all your friends ahead of time. You can remind yourself in two days by text to pick up your dry clean, remind a group of friends to bring food for a potluck, or even just a motivational quote to yourself every morning when you wake.
						</p>
						<p>
							We want to make your lives easier. And we hope we have. Please try us out and let us know what you think!
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
		
	<br>

	<hr class="featurette-divider"/><br>
		
		<div class="row col-md-offset-1 col-md-10">
			<p id ="1" class="text-center"><blockquote class="text-center"><strong>“When you learn through coding, [you're] coding to learn. You're learning it in a meaningful context, and that's the best way of learning things.” — Mitch Resnick</strong></blockquote></p>
		</div>

			<br><br><br><br><br><br>
			<hr class='featurette-divider'/>
			<br>
					<h2 class="text-center">Technology</h2>
			<br><br>
					<div class="container">

						<div class="row col-md-offset-2 col-md-3">
							<ul class="text-center">
								<li class="tech">AJAX, RSpec</li
								<li class="tech">Bootstrap, jQuery</li>
								<li class="tech">HTML5, CSS3, Javascript</li>
							</ul>
						</div>

						<div class="row col-md-offset-2 col-md-3">
							<ul class="text-center">
								<li class="tech">Sidekiq</li>
								<li class="tech">PostgreSQL, Redis</li>
								<li class="tech">Twilio-API, Ruby on Rails</li>
							</ul>

						</div> <!-- row -->
					</div> <!-- container -->

		<br><br><br>
			<hr class='featurette-divider'/>
			<br><br>

		<div class="row text-center">
			<h2>Meet the Makers</h2>
			<br><br><br>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/SanaNasar?tab=repositories"><img src="https://avatars2.githubusercontent.com/u/6865075?v=2&s=400" alt="SanaNasar" class="img-circle .img-responsive " style="width:175px; height:175px"></a>
				<h4 class="text-center">Sana Nasar</h4>
				<h6 class="text-center"><a href="https://github.com/SanaNasar">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=215217505&authType=OUT_OF_NETWORK&authToken=SHDi&locale=en_US&trk=tyah2&trkInfo=tarId%3A1409729533153%2Ctas%3Asana%2Cidx%3A1-1-1">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/SanaNasar_">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/Siejen"><img src="https://avatars3.githubusercontent.com/u/7432747?v=2&s=400" alt="SiejenYS"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Siejen Yin-Stevenson</h4>
				<h6 class="text-center"><a href="https://github.com/Siejen">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/in/siejen">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/Siejen">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/ranleung"><img src="https://avatars0.githubusercontent.com/u/5177175?v=2&s=400" alt="RanLeung"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Randall Leung</h4>
				<h6 class="text-center"><a href="https://github.com/ranleung">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=218301909&authType=OUT_OF_NETWORK&authToken=fYHC&locale=en_US&trk=tyah2&trkInfo=tarId%3A1409728829885%2Ctas%3Aranda%2Cidx%3A2-1-2">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/rarararara10">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/dustin520"><img src="http://d13pix9kaak6wt.cloudfront.net/background/dustin520_1335250084_31.jpg" alt="Dustin Yu"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Dustin Yu</h4>
				<h6 class="text-center"><a href="https://github.com/dustin520">GitHub</a></h6>
				<h6 class="text-center"><a href="www.linkedin.com/in/dustin520/">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/dustin520">Twitter</a></h6>
			</div>
		</div>
		<br><br>
		<hr class="featurette-divider"/>
		<br>
		
		<div class="row col-md-offset-1 col-md-10">
			
			<h5 class="text-center" id="aboutus">We are a team of Full Stack Web Developers who created  <strong>TextMe, Maybe?</strong>, an app that enables people to schedule text messages in advance and have it delivered in the future.</h5>
		</div>

</div>

