
<style>
	canvas {
	width: 450;
	height: 200;
	border: 1px solid black;
	text-align: center;
	margin-top: 23px;
}
</style>


<div class="container">
	
	<h1 class="">About Text Me Maybe</h1>

		<section class="top col-md-12">
			<div class="canvas col-md-4">
				<canvas id="canvas" width = "450" height="200"></canvas>
			</div>

			<div class="col-md-offset-2 col-md-6 text-center">
				<h2 class="text-center">What We're All About</h2>
				<p class="text-center">“When you learn through coding, [you're] coding to learn. You're learning it in a meaningful context, and that's the best way of learning things.” — Mitch Resnick</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
		


		<div class="row text-center" style="display: inline-block">
			<hr class='featurette-divider'/>	
			<h2>Meet the Makers</h2><br>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/SanaNasar?tab=repositories"><img src="https://avatars2.githubusercontent.com/u/6865075?v=2&s=400" alt="SanaNasar" class="img-circle .img-responsive " style="width:175px; height:175px"></a>
				<h4 class="text-center">Sana Nasar</h4>
				<h6 class="text-center"><a href="https://github.com/SanaNasar">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=215217505&authType=OUT_OF_NETWORK&authToken=SHDi&locale=en_US&trk=tyah2&trkInfo=tarId%3A1409729533153%2Ctas%3Asana%2Cidx%3A1-1-1">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/SanaNasar_">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/Siejen"><img src="https://avatars3.githubusercontent.com/u/7432747?v=2&s=400" alt="SiejenYS"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Siejen Yin-Stevenson</h4>
				<h6 class="text-center"><a href="https://github.com/Siejen">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/in/siejen">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/Siejen">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/ranleung"><img src="https://avatars0.githubusercontent.com/u/5177175?v=2&s=400" alt="RanLeung"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Randall Leung</h4>
				<h6 class="text-center"><a href="https://github.com/ranleung">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=218301909&authType=OUT_OF_NETWORK&authToken=fYHC&locale=en_US&trk=tyah2&trkInfo=tarId%3A1409728829885%2Ctas%3Aranda%2Cidx%3A2-1-2">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/rarararara10">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/dustin520"><img src="http://d13pix9kaak6wt.cloudfront.net/background/dustin520_1335250084_31.jpg" alt="Dustin Yu"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Dustin Yu</h4>
				<h6 class="text-center"><a href="https://github.com/dustin520">GitHub</a></h6>
				<h6 class="text-center"><a href="www.linkedin.com/in/dustin520/">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/dustin520">Twitter</a></h6>
			</div>
		</div>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(function () {

});

function draw() {
	var canvas = document.getElementById("canvas");

	var img = new Image();

	// User Variables - customize these to change the image being scrolled, its
	// direction, and the speed.

	img.src = 'https://camo.githubusercontent.com/2c3691371a4fdaea93e28b44508bb716fe203aa7/68747470733a2f2f7261772e6769746875622e636f6d2f626f6265662f436f6c6f72536368656d65456469746f722d5354322f6d61737465722f73637265656e73686f74732f73637265656e312e706e67';
	var CanvasXSize = 450;
	var CanvasYSize = 200;
	var speed = 30; //lower is faster
	var scale = 1.05;
	var y = -4.5; //vertical offset

	// Main program

	var dx = 0.75;
	var imgW;
	var imgH;
	var x = 0;
	var clearX;
	var clearY;
	var ctx;

	img.onload = function() {
	    imgW = img.width*scale;
	    imgH = img.height*scale;
	    if (imgW > CanvasXSize) { x = CanvasXSize-imgW; } // image larger than canvas
	    if (imgW > CanvasXSize) { clearX = imgW; } // image larger than canvas
	    else { clearX = CanvasXSize; }
	    if (imgH > CanvasYSize) { clearY = imgH; } // image larger than canvas
	    else { clearY = CanvasYSize; }
	    //Get Canvas Element
	    ctx = document.getElementById('canvas').getContext('2d');
	    //Set Refresh Rate
	    return setInterval(draw, speed);
	}

	function draw() {
	    //Clear Canvas
	    ctx.clearRect(0,0,clearX,clearY);
	    //If image is <= Canvas Size
	    if (imgW <= CanvasXSize) {
	        //reset, start from beginning
	        if (x > (CanvasXSize)) { x = 0; }
	        //draw aditional image
	        if (x > (CanvasXSize-imgW)) { ctx.drawImage(img,x-CanvasXSize+1,y,imgW,imgH); }
	    }
	    //If image is > Canvas Size
	    else {
	        //reset, start from beginning
	        if (x > (CanvasXSize)) { x = CanvasXSize-imgW; }
	        //draw aditional image
	        if (x > (CanvasXSize-imgW)) { ctx.drawImage(img,x-imgW+1,y,imgW,imgH); }
	    }
	    //draw image
	    ctx.drawImage(img,x,y,imgW,imgH);
	    //amount to move
	    x += dx;
	}

}
</script>
