
<div class="container">
	

		<section class="top">
			<div class="col-md-12">
				<p id ="1" class="text-right"><blockquote><strong>“When you learn through coding, [you're] coding to learn. You're learning it in a meaningful context, and that's the best way of learning things.” — Mitch Resnick</strong></blockquote></p>
				<div class="row">

					<div class="col-md-6">
						<h1 class="text-center">Why "TextMe, Maybe?"</h1>
						<p id ="1" class="proverb"><strong>“When you learn through coding, [you're] coding to learn. You're learning it in a meaningful context, and that's the best way of learning things.” — Mitch Resnick</strong></p>
						<p>We are a team of full stack web developers who created  <strong>TextMe, Maybe?</strong>, an app that enables people to schedule text messages in advance and have it delivered at a predetermined date and time.  <strong>TextMe, Maybe?</strong> has multiple use cases from the ability to schedule a text greeting in advance for a loved one to setting up reminders for group gatherings to reminding an elderly family member to take their prescription medications regularly.</p>
						<p>Our goal was to develop a functional app that would be utilized across populations.  If you've a use case that we have not yet identified, we'd love to hear about it!</p>
					</div><br>
					<div class="col-md-6 text-center">
						<h1 class="text-center">Technology</h1>
						<li class="tech">HTML5, CSS3, Javascript</li>
						<li class="tech">Bootstrap, jQuery, AJAX</li>
						<li class="tech">Ruby On Rails, RSPEC</li>
						<li class="tech">PostgreSQL</li>
						<li class="tech">Twilio-API</li>
						<li class="tech">Redis, Sidekiq</li>
						</ul>

					</div>
				</div>
			</div>
		</section>
		
	</div><br>

		<div class="row text-center">
			<hr class='featurette-divider'/><br>	
			<h2>Meet the Makers</h2><br>
				
			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/SanaNasar?tab=repositories"><img src="https://avatars2.githubusercontent.com/u/6865075?v=2&s=400" alt="SanaNasar" class="img-circle .img-responsive " style="width:175px; height:175px"></a>
				<h4 class="text-center">Sana Nasar</h4>
				<h6 class="text-center"><a href="https://github.com/SanaNasar">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=215217505&authType=OUT_OF_NETWORK&authToken=SHDi&locale=en_US&trk=tyah2&trkInfo=tarId%3A1409729533153%2Ctas%3Asana%2Cidx%3A1-1-1">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/SanaNasar_">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/Siejen"><img src="https://avatars3.githubusercontent.com/u/7432747?v=2&s=400" alt="SiejenYS"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Siejen Yin-Stevenson</h4>
				<h6 class="text-center"><a href="https://github.com/Siejen">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/in/siejen">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/Siejen">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/ranleung"><img src="https://avatars0.githubusercontent.com/u/5177175?v=2&s=400" alt="RanLeung"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Randall Leung</h4>
				<h6 class="text-center"><a href="https://github.com/ranleung">GitHub</a></h6>
				<h6 class="text-center"><a href="https://www.linkedin.com/profile/view?id=218301909&authType=OUT_OF_NETWORK&authToken=fYHC&locale=en_US&trk=tyah2&trkInfo=tarId%3A1409728829885%2Ctas%3Aranda%2Cidx%3A2-1-2">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/rarararara10">Twitter</a></h6>
			</div>

			<div class="col-md-3" style="display: inline-block">
				<a href="https://github.com/dustin520"><img src="http://d13pix9kaak6wt.cloudfront.net/background/dustin520_1335250084_31.jpg" alt="Dustin Yu"class="img-circle .img-responsive" style="width:175px; height:175px"></a>
				<h4 class="text-center">Dustin Yu</h4>
				<h6 class="text-center"><a href="https://github.com/dustin520">GitHub</a></h6>
				<h6 class="text-center"><a href="www.linkedin.com/in/dustin520/">LinkedIn</a></h6>
				<h6 class="text-center"><a href="https://twitter.com/dustin520">Twitter</a></h6>
			</div>
		</div>
		<br><br><br><h5 class="text-center" id="aboutus">We are a team of full stack web developers who created  <strong>TextMe, Maybe?</strong>, an app that enables people to schedule text messages in advance and have it delivered at a predetermined date and time.</h5>

</div>

