<!-- 1/3 HOMEPAGE BEGINS -->
<div id="topbackground"> 

	<div class="container">
		<h1 class="page-header">Text Me Maybe <small><i>No more excuses, text now deliver later!</i></small></h1>






		<!-- Unsaved Messages Try It Now Form -->
		<%= render "shared/unsaved_form" %>
















	</div>  <!-- Container Close -->
</div>  <!-- Background Image End -->
<!-- 1/3 Home PAGE ENDs -->











	<hr class="featurette-divider">

	<!-- Need to hide this later -->
	<p><%= link_to 'Monitoring Workers', sidekiq_web_path %></p>
