a {
	padding: 10px 10px 10px 10px;
}

#login-form {
	position: relative;
	vertical-align: center;
	overflow-y: auto;
	max-width: 400px;
	padding: 15px;
	position: center;
	top:5%;
	left:15%;
	outline: none;
}
/*background for login page*/
#loginModal {
  padding-top: 10px;
  padding-bottom: 40px;
  /*background: url('blurbg.jpg') top center no-repeat fixed;*/
  background-color: #cfd8dc;
  -webkit-background-size: cover; /* Safari en Chrome */
  -moz-background-size: cover; /*  Old Firefox */
  -o-background-size: cover; /* Opera */
  background-size: cover; /* W3C */
}
