*, div {

}

body {
	padding-top: 20px;
}

.form_element{
	font-size: 20px;
}


#topbackground{
  background: url('https://s3.amazonaws.com/ooomf-com-files/9s1lvXLlSbCX5l3ZaYWP_hdr-1.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


#toprow{
	padding-top: 75px;
}

#mobilephone{
	padding-top: 100px;
}

#tagbox{
	padding-top: 150px;
	padding-right: 50px;
}

#tag{
	color: #33536d;
font-weight: bold;
	font-family:Open Sans,'Karla', sans-serif;	
}

#tagbox a{
	color:white;
}

#tagbox a:hover{
	color:white;
}

#learn-more{
	text-decoration: none;
	font-size: 14px;
	color:#91a8ba;
}

#linktosignup{
text-decoration: none;
}

.navbar-brand img {
height: 100%;
}

#jumboimg {
width:100%;
}

#middle-images{
    height:325px;
    width:475px;
    overflow:hidden;
    margin: auto;
    padding: 0px 0px 0px 0px;
    border-radius:5%;
    text-align: center;
    float: center;
    box-shadow: 10px 10px 5px #888888;
}

#middle-section{
}

div#midOneC {
	margin-bottom: 2em;
}

div#midContainer {
	padding-top: 4em;
}

.featurette-divider{
	margin: 0px;
	padding: 0px;
}

.middle_text {
	margin-top: 15%;
}



#tutorial {
	margin-top: 5em;
	margin-bottom: 5%;
}

#tut_desc {
	padding-top: 2.5em;
}

div#tryItBtn {
	padding-top: 50px;
}

a#joinUs {
	background-color: RGB(42, 175, 255);
}

div.important-box {
}