


<div class="container">
	<div>
		
		<h1>Subject: <%= @savedMsg.subject %></h1>

			<p> Content: 
				<%= @savedMsg.content %>
			</p>

			<p>Sent to: 
				<%= @savedMsg.send_num %>
			</p>



	</div>
</div>